; leaflet module
; proposed settings
;
; Part of »Zugzwang Project«
; https://www.zugzwang.org/modules/leaflet
;
; @author Gustaf Mossakowski <gustaf@koenige.org>
; @copyright Copyright © 2024, 2026 Gustaf Mossakowski
; @license http://opensource.org/licenses/lgpl-3.0.html LGPL-3.0
; 
; Syntax of this configuration file:
; 
; [key]: setting key
; - Field "description": description, just for information.
; - Field "type": type of setting, e. g. mail, number, foreign_key, etc.
; - Field "default": default value
;

[leaflet_dist_path]
description = "Relative path to Leaflet (and plugin) dist CSS/JS under behaviour_path"
default = "/dist"
type = path
example[] = "/dist"
example[] = ""

[leaflet_fullscreen]
description = "Enable Leaflet.fullscreen plugin (fullscreen control)"
type = bool

[leaflet_markercluster]
description = "Enable Leaflet.markercluster plugin (cluster markers on maps)"
type = bool

[leaflet_participants_map_center_lat]
description = "Center latitude for the participants map"
type = number
example[] = "51.0"

[leaflet_participants_map_center_lon]
description = "Center longitude for the participants map"
type = number
example[] = "10.0"

[leaflet_participants_map_zoom]
description = "Initial zoom level for the participants map"
type = int
default = 6
example[] = 6
example[] = 8

[mapbox_access_token]
description = "Mapbox access token"
type = text
example[] = "pk.eyJ1Ijoi…"

[mapbox_style]
description = "Mapbox style ID (used in styles/v1/{user}/{style})"
type = text
example[] = "streets-v12"
example[] = "light-v11"

[mapbox_user]
description = "Mapbox account username (Studio user)"
type = text
example[] = "mapbox"

